body {
    margin: 0;
    padding: 0;
    font-family:"Open Sans",serif;
    font-size: 15px;
    color: #000;
    background-color: white;
}

.spacer.v80{
    height: 80px;
}

.spacer.v60 {
    height: 60px;
}

.spacer.v40{
    height: 40px;
}

.spacer.v20{
    height: 20px;
}

h1,h2,h3{
    font-family: "Merriweather", sans-serif;
}
h1 {
    font-size: 60px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 20px;
}

.roundCorners{
    border-radius: 15px;
}
    .roundCorners.top{
        border-radius: 15px 15px 0 0;

    }

    .roundCorners.bottom{
        border-radius: 0 0 15px 15px;
    }
.bg-mauve{
    background-color: #BC8796;
}
.logo{
    font-family: "Merriweather", serif;
    font-weight: bold;
}
.navbar-brand.logo{
    color: white;
}
    .navbar-brand.logo:hover{
        color: white;
    }