/*
    font-family: "Merriweather", serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Merienda One", cursive;
    Text color: #000;
    Dark blue:#345995;
    light blue: 3432f1;
    red: #d7263d;
    yellow: #eac435
    Mauve: #bc8796;
    Silver: #COCOCO;
    Light gray: #d3d3d3;
*/