
body {
  background-image: url("images/headimage.png");
  background-repeat: no-repeat;
  background-position:top;
  margin-right: 200px;
  background-attachment: fixed;
  background-color: black;

}