body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.headimage {
    /* This sticks it to the top of the browser window */
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    
    /* This centers the image horizontally within that top bar */
    display: flex;
    justify-content: center;
    
    /* Keeps it above everything else */
    z-index: 1000;
    
    /* Optional: background color so text doesn't bleed through */
    background-color: black; 
}

.headimage img {
    /* Control the size of your image here */
    height: auto;
    max-width: 100%;
    display: block;
}