.cpsclicker{
    width: 400px; height: 400px; color:rgb(109, 98, 98); font-family:Arial, Helvetica, sans-serif; background-color:rgb(0, 0, 0);
}

.restart{
    color:rgb(109, 98, 98); font-family:Arial, Helvetica, sans-serif; background-color: rgb(0, 0, 0);
}
body{
    
    background: rgb(44, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;


}

h1{color:white;
}

h2{color:white;
}

.fivesec{
    font-family:Arial, Helvetica, sans-serif;
    width: 150px;
    height: 50px;
}

.tensec{
    font-family:Arial, Helvetica, sans-serif;
    width: 150px;
    height: 50px;
}

.fifteensec{
    font-family:Arial, Helvetica, sans-serif;
    width: 150px;
    height: 50px;
}

.time-buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
